#video-container {
  text-align: center;
}

h1 {
  font-size: 5rem;
  /*text-align: center;*/
  font-weight: normal;
  color: rgba(209,101,28,1); /*orange*/
}

video {
  width: 100%;
  object-fit: cover;

}

#about-container {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#text-container {
  padding-top: 75px;
}

@media screen and (min-width: 1000px) {
p {
  font-size: 28px;
  text-align: left;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 150px;
  color: rgba(32,32,32,.75) /*soft grey*/

}
}

@media screen and (max-width: 999px) {
p {
  font-size: 28px;
  text-align: left;
  padding-bottom: 50px;
}
}

#text-container {
  text-align: center;
}

@media screen and (min-width: 900px) {
#text-container img {
  width: 100%;
  padding-bottom: 50px;
}
.pics-cont{
  box-sizing: border-box;
  width: 33.3339%;
  height: 30vw;
  float: left;
}
.pics-cont img {
  object-fit: cover;
  height: 100%;
}
#hardie {
  padding-left: 30px;
  padding-right: 30px;
}
}

@media screen and (max-width: 899px) and (min-width: 601px) {
#text-container img {
  width: 100%;
  padding-bottom: 50px;
}
.pics-cont{
  box-sizing: border-box;
  /*width: 50%;*/
  height: 50vw;
  float: left;
}
.pics-cont img {
  object-fit: cover;
  height: 100%;
}
#hardie {
  padding-left: 15px;
  width: 50%;
  /*padding-right: 30px;*/
}
#action {
  padding-right: 15px;
  width: 50%;
}
#pieces {
  margin-top: 30px;
  width: 100%;

}
}

@media screen and (max-width: 600px) {
#text-container img {
  width: 100%;
  padding-bottom: 50px;
}
}

#new-section {
  padding-top: 70px;
}

.center {
/*  position: absolute;
  bottom: 0;*/
  float: left;
  width: 100%;
  text-align: center;
}

.ad {
  color: rgba(209,101,28,.5);
  font-size: large;

}
.ad:hover   {
  transition: 3s;
  color: white;
  background-color: rgba(209,101,28,1);
}