
#about-container {
  background-color: silver;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 20px;
}

h1 {
  font-size: 5rem;
  padding-bottom: 50px;
}

p {
  font-size: 28px;
  padding-bottom: 50px;

}

#text-container {
  text-align: left;
}

img {
  /*display:inline;*/
  vertical-align: text-bottom;
}

iframe {
  height: 100%;
  width: auto;
}

#new-section {
  padding-top: 70px;
}

.center {
  width: 100%;
  text-align: center;
}

.ad {
  color: rgba(209,101,28,.5);
  font-size: large;
  margin-top: 100px;

}
.ad:hover   {
  transition: 3s;
  color: white;
  background-color: rgba(209,101,28,1);