.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.centered {
/*  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
    width: auto;
  height: auto;*/
}

.card img{
  object-fit: cover;
}

.title {
  text-align: center;
}

.price {
  font-size: 120%;
  font-weight: bold;
}

.description {

}

#new-section {
  padding-top: 70px;
}

#MM {
  padding-right: 30px;
  padding-bottom: 8px;
  text-align: left;
}